.archive{

    margin-top: 100px;

    & .archive-item{
        margin-bottom: 50px;
    }

    & img{
        width: 100%;
        margin-bottom: 10px;
    }

    & p{
        font-weight: 600;
        line-height: 1.5em;
    }
}