span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, b, u, i, li{
    font-family: 'Catamaran', sans-serif;
}

.has-large-font-size{
    font-size: 26px;
    line-height: 32px;
}

.has-medium-font-size{
    font-size: 18px;
}

.has-normal-font-size{
    font-size: 14px;
}